@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}


.ioni {

    display: none; 
} 


.navbar ul {
    
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
    
}

.navbar a {
    
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    color: black;
}




.logo1 {
    position: absolute;
    left: 35px;
    top: 18px;
}


.premiertitre {
   
    background: #5B359D;
    color: white;
    padding: 27px;
    padding-left: 90px;
    width: 290px;
    position: absolute;  
    top: 0;
    left: 0;
    font-family: Comic Neue;
}



.grid {

background: url(./img/bureau.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 40vw;
display: grid;
align-items: center;
grid-template-rows: 1fr; 
grid-template-columns: 1fr;

}



.grid-container {

    display: grid;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}



.phrase1  {

    display: flex;
    justify-content: center;
    font-family: Roboto;
    padding: 50px;
}

.flexbox {

    display: flex;
    text-align: center;
    justify-content: center;
    padding: 70px;
    font-family: Roboto;
}

.GRAPHISME p {

    width: 370px;
}

.STRATEGIE p {

    width: 380px;
}

.ILLUSTRATIONS p {

    width: 310px;
}


.phrase2 {

  width: 700px;  
  font-family: Roboto;
    
}

.fraz2  {

    display: flex;
    justify-content: center;
    text-align: center;
}


.Amandine {

    display: flex;
    justify-content: center;
    color: #00000066;
    font-family: Roboto;
}

footer {
    background: #5B359D;
    color: white;
    height: 260px;
    
}

.phrase3 {

    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: Roboto;
}

.reseaux {

    display: flex;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 90px;
    color: #FFFFFF80;

}

.informations {

    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: Roboto;

}

.informations ul {

    color: #FFFFFF80;
}



.coordonees li {

    list-style: none;
    width: 200px;
}

/* Ipad pro 11 */
@media screen and (max-width: 834px) {
    
 
      .flexbox {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }


}







/* Iphone 13 Pro Max */
@media screen and (max-width: 428px) {

.flexbox {

    display: flex;
    flex-direction: column;
    align-items: center;
}




  
}

